<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="{{url_for('client',path='/style.css')}}" />

    <script defer>
      window.onload = function (){
        let num = 0;
        
        const imgview = document.getElementsByClassName("filename");
        
        Array.from(imgview).forEach((element) => {
          element.addEventListener("click", function(event){
            // event.preventDefault();
            num = parseInt(event.target.getAttribute('data-number'),10);
            window.location.href = `http://localhost:8000/imageview/${num}`;

            console.log(num);
            console.log( `/imageview/${num}`);
          });
        });
      };
    </script>

  </head>
  <body>
      <h1>Let's play ! (´ε｀ ʃƪ)♡</h1>
        

      {% if datas %}
      <table >
        <tr>
          <th>id</th>
          <th>title</th>
          <th>filename</th>
          <th>delete</th>
        </tr>
        {% for d in datas %}
        <tr>
          <td><a href="#" class="filename" data-number="{{d.id}}">{{d.id}}</a></td>
          <td>{{d.title}}</td>
          <td>
            <p >{{d.filename}}</p>
          </td>
          <td>d'not exist Exit !!</td>
        </tr>
        {% endfor %}
      </table>
      <a href="/adddata" class="move_a"> Data 하나 더 </a>
    </div>
    {% else %}
    <div class="container">
      <a href="/adddata" class="move_a"> Data 추가 ༼ ᓄºل͟º ༽ᓄ </a>
    </div>
    {% endif %}
  </body>
</html>

<!-- src="https://{S3_BUCKET}.s3.{S3_REGION}.amazonaws.com/{d.filename}" -->
